@CHARSET "UTF-8";

.main-header {
	height: 101px;
	margin-bottom: 25px;
}

.main-header .logo {
	background-image: url(/img/mascote.jpg);
	background-repeat: no-repeat;
	background-position: center;
	width: 90px;
	height: 101px;
	float: left;
}

.main-header .text {
	margin-left: 107px;
	height: 101px;
}

.main-header .text .title {
	font-size: 31px;
	font-weight: bold;
	font-family: arial;
	line-height: 62px;
}

.main-header .text .overline {
	font-size: 15px;
	font-weight: bold;
	font-family: arial;
	color: grey;
}