<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Voting Web Module</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>com.sun.faces.config.ConfigureListener</listener-class>
	</listener>

	<context-param>
		<param-name>primefaces.PRIVATE_CAPTCHA_KEY</param-name>
		<param-value>6Lc86NcSAAAAAFRxiXJgLjk-EHaxC5meTbGs-MKw</param-value>
	</context-param>

	<context-param>
		<param-name>primefaces.PUBLIC_CAPTCHA_KEY</param-name>
		<param-value>6Lc86NcSAAAAAPJEWRzAOTTkHfidEVC1vvduQ8k7</param-value>
	</context-param>
	
	<!-- It was defined the private static final String DATE_STR_FORMAT = "dd-MM-yyyy-hh:mm"; constant to the format you should introduce here -->
	<context-param>
		<param-name>showResultDate</param-name>
		<param-value>17-10-2012-15:22</param-value>
	</context-param>
	
	<context-param>
		<param-name>pollShortName</param-name>
		<param-value>MASCOTE</param-value>
	</context-param>
</web-app>